@import '../../common/common.style.scss';

.home-page {
  margin: auto;
  text-align: center;
  &__content {
    margin-left: 50px;
  }
  &__btns{
    margin-top: 20px;
    a{
      margin: 20px 10px;
    }
   

  }
}
